<div class="jumbotron">
    <h1 class="display-4">Pokémon Trainer</h1>
    <p class="lead">Gotta catch 'em all!</p>
    <hr class="my-4">
    <form
        [formGroup]="loginForm">
        <input
            id="trainer-name"
            formControlName="trainerName"
            class="form-control form-control-lg"
            type="text"
            placeholder="Enter trainer name"
            required minlength="1" maxlength="10">
        <hr class="my-4">
        <button
            [disabled]="loginForm.invalid"
            type="button"
            class="btn btn-success"
            (click)="setTrainerName()"
            (click)="handleLoginSuccess()">
            Start
        </button>
    </form>
</div>